<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="content has-text-centered">
        <span class="icon">
          <i class="{{iconClass}} fa-2x"></i>
          <i class="fa ${_station.selectTemperatureArrowTrendIcon()} fa-2x"></i>
        </span>
        <h3>{{title}}</h3>
        {{valueA}} {{valueB}}<br>
        {{valueC}} {{valueD}}<br>
        {{valueE}} {{valueF}} {{valueG}}<br>
        {{valueH}} {{valueI}}<br>
        {{valueJ}} {{valueK}}<br>
        <br>
        <span class="icon">
          <i class="fa {{valueL}} fa-2x"></i>
        </span>
      </div>
    </div>
  </div>
</div>