{{!-- Unique div ID for each graph (trendId) --}}
<div class="ui segment" id="{{trendId}}"></div>
<script>
  const {{trendId}}data = { // data variable also needs to be unique per graph (e.g. windSpeeddata)
    labels: [
      {{#each trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "{{graphTitle}}", type: "line",
        values: [
          {{#each graphData}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const {{trendId}}chart = new frappe.Chart("#{{trendId}}", { // chart variable, and the chart div ID, also need to be unique
    title: "{{graphTitle}} Trend",
    data: {{trendId}}data,
    type: 'line',
    height: 250,
  })
</script>