{{> latest-readings station }}

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Time of Reading</th>
      <th>Weather Code</th>
      <th>Temperature (°C)</th>
      <th>Wind (Bft)</th>
      <th>Wind Direction</th>
      <th>Pressure (hPa)</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
    <tr>
      <td>
        {{dateFormat timeStamp "MMM Do YYYY, h:mm:ss a"}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temp}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
